<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.roses.kernel.menu.modular.mapper.SysMenuMapper">

    <resultMap id="systemMenuAndRole" type="cn.stylefeng.roses.kernel.system.pojo.menu.response.SysMenuResponse">
        <id column="menu_id" property="menuId"/>
        <result column="menu_parent_id" property="menuParentId"/>
        <result column="menu_pids" property="menuPids"/>
        <result column="menu_name" property="menuName"/>
        <result column="app_code" property="appCode"/>
        <result column="visible" property="visible"/>
        <result column="antdv_router" property="antdvRouter"/>
        <result column="antdv_component" property="antdvComponent"/>
        <result column="antdv_icon" property="antdvIcon"/>
        <result column="antdv_link_open_type" property="antdvLinkOpenType"/>
        <result column="antdv_link_url" property="antdvLinkUrl"/>
        <collection property="roles" ofType="cn.stylefeng.roses.kernel.auth.api.pojo.login.basic.SimpleRoleInfo">
            <id column="role_id" property="roleId"/>
            <result column="role_name" property="roleName"/>
            <result column="role_code" property="roleCode"/>
            <result column="data_scope_type" property="dataScopeType"/>
        </collection>
    </resultMap>

    <select id="getSystemAllMenus" resultMap="systemMenuAndRole">
        SELECT sm.menu_id,
               sm.menu_parent_id,
               sm.menu_pids,
               sm.menu_name,
               sm.app_code,
               sm.visible,
               sm.antdv_router,
               sm.antdv_component,
               sm.antdv_icon,
               sm.antdv_link_open_type,
               sm.antdv_link_url,
               sr.role_id,
               sr.role_name,
               sr.role_code,
               sr.data_scope_type
        FROM sys_menu sm
                 LEFT JOIN sys_role_menu srm ON sm.menu_id = srm.menu_id
                 LEFT JOIN sys_role sr ON srm.role_id = sr.role_id
        WHERE sm.del_flag = 'N'
          AND sm.status_flag = 1
    </select>
</mapper>
