<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.roses.kernel.dict.modular.mapper.DictMapper">

    <select id="findDetail" resultType="cn.stylefeng.roses.kernel.dict.modular.entity.SysDict">
        SELECT
        dict.dict_id AS dictId,
        dict.dict_type_code AS dictTypeCode,
        dict.dict_name as dictName,
        dict.dict_code AS dictCode,
        dict.dict_short_name AS dictShortName,
        dict.dict_short_code AS dictShortCode,
        dict.parent_dict_id AS parentDictId,
        dict.dict_sort as dictSort,
        dict.status_flag AS statusFlag,
        dict.create_time AS createTime,
        type.dict_type_name as dictTypeName
        FROM
        sys_dict dict
        INNER JOIN sys_dict_type type ON dict.dict_type_code = type.dict_type_code
        WHERE dict.del_flag = 'N'
        <if test="dictRequest.dictId != null and dictRequest.dictId != ''">
            AND dict.dict_id = #{dictRequest.dictId}
        </if>
        <if test="dictRequest.dictCode != null and dictRequest.dictCode != ''">
            AND dict.dict_code = #{dictRequest.dictCode}
        </if>
        ORDER BY dict_sort
    </select>

    <select id="findList" resultType="cn.stylefeng.roses.kernel.dict.modular.entity.SysDict">
        SELECT
        dict.dict_id AS dictId,
        dict.dict_type_code AS dictTypeCode,
        dict.dict_name as dictName,
        dict.dict_code AS dictCode,
        dict.dict_short_name AS dictShortName,
        dict.dict_short_code AS dictShortCode,
        dict.parent_dict_id AS parentDictId,
        dict.dict_sort as dictSort,
        dict.status_flag AS statusFlag,
        dict.create_time AS createTime,
        type.dict_type_name as dictTypeName
        FROM
        sys_dict dict
        INNER JOIN sys_dict_type type ON dict.dict_type_code = type.dict_type_code
        WHERE dict.del_flag = 'N'
        <if test="dictRequest.dictTypeCode != null and dictRequest.dictTypeCode != ''">
            AND dict.dict_type_code = #{dictRequest.dictTypeCode}
        </if>
        <if test="dictRequest.dictCode != null and dictRequest.dictCode != ''">
            AND dict.dict_code LIKE CONCAT('%',#{dictRequest.dictCode},'%')
        </if>
        <if test="dictRequest.dictName != null and dictRequest.dictName != ''">
            AND dict.dict_name LIKE CONCAT('%',#{dictRequest.dictName},'%')
        </if>
        <if test="dictRequest.parentDictId != null and dictRequest.parentDictId != ''">
            AND dict.parent_dict_id = #{dictRequest.parentDictId}
        </if>
        <if test="dictRequest.statusFlag != null and dictRequest.statusFlag !=''">
            AND dict.status_flag = #{dictRequest.statusFlag}
        </if>
        <if test="dictRequest.parentDictId != null and dictRequest.parentDictId != ''">
            and dict.parent_dict_id = #{dictRequest.parentDictId}
        </if>
        ORDER BY dict_sort
    </select>

</mapper>
