<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.roses.kernel.system.modular.resource.mapper.ApiGroupMapper">

    <update id="updateSubPids" parameterType="cn.stylefeng.roses.kernel.dict.api.pojo.dict.request.ParentIdsUpdateRequest">
        UPDATE
            api_group
        SET group_pids  = replace(group_pids, #{paramCondition.oldParentIds}, #{paramCondition.newParentIds}),
            update_time = #{paramCondition.updateTime},
            update_user = #{paramCondition.updateUser}
        WHERE group_pids LIKE CONCAT('%', #{paramCondition.oldParentIds}, '%')
    </update>

    <select id="dataList" resultType="cn.stylefeng.roses.kernel.system.modular.resource.entity.ApiGroup">
        SELECT
        ag.group_id,
        ag.group_name,
        ag.group_pid,
        ag.group_pids,
        ag.group_sort,
        ag.create_time,
        ag.create_user,
        ag.update_time,
        ag.update_user
        FROM
        api_group ag
        LEFT JOIN api_resource ar ON ag.group_id = ar.group_id
        LEFT JOIN sys_resource sr ON ar.resource_code = sr.resource_code
        WHERE
        1=1
        <if test="paramCondition.groupName != null and paramCondition.groupName != ''">
            AND (
            ar.api_alias LIKE CONCAT('%', #{paramCondition.groupName}, '%')
            OR sr.url LIKE CONCAT('%', #{paramCondition.groupName}, '%')
            )
        </if>
        <if test="paramCondition.groupId != null">
            AND (
            ag.group_pids NOT LIKE CONCAT('%[', #{paramCondition.groupId}, ']%')
            AND ag.group_id != #{paramCondition.groupId}
            )
        </if>
        OR ag.group_pid = -1
        GROUP BY ag.group_id
    </select>
</mapper>